Django==5.2.3
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
exifread==3.3.1
joblib==1.5.1
numpy==2.3.1
opencv_python==4.11.0.86
pdf2image==1.17.0
Pillow==11.2.1
PyPDF2==3.0.1
pytesseract==0.3.13
python-dotenv==1.1.0
